{% load i18n %}
<style>
    .btn-det-group{
        padding: 5px 10px !important;
    }
</style>
<div class="col-12 col-xl-9 mt-2 mb-2">
    <div class="row pr-md-2">
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <button class="btn btn-amcr btn-block" onclick="goBack()">{% trans "Zpět" %}</button>
        </div>
        {% if canEdit and smStav == 1  %}
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <button type="button" class="btn btn-amcr btn-block" data-toggle="modal" data-target="#delete_detector">
                {% trans "Smazat" %}
                </buton>
        </div>
        {% else %}
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <button class="btn btn-amcr btn-block disabled" readonly="true">
                {% trans "Smazat" %}
            </button>
        </div>
        {% endif %}

        {% with 'Archeolog Archivář Admin' as list_archeolog %}
        {% if userDetail.role_opravneni.role in list_archeolog %}
        {% if canConfirm or canArchive %}
        <div class="col-6 col-md-3 col-lg-2 mt-sm-0 btn-det-group">
            <a class="btn btn-amcr btn-block" href="{% url 'pas:return_finding' ident_cely %}">{% trans "Vrátit" %}</a>
        </div>
        {% else %}
        <div class="col-6 col-md-3 col-lg-2 mt-md-0 btn-det-group">
            <button class="btn btn-amcr btn-block disabled" readonly="true">
                {% trans "Vrátit" %}
            </button>
        </div>
        {% endif %}
        {% endif %}
        {% endwith %}
        <div class="col-6 col-md-3 col-lg-2 mt-md-0 btn-det-group">
            <button class="btn btn-amcr btn-block disabled" readonly="true">{% trans "Výpis" %}</button>
        </div>
    </div>
    <div class="row pr-md-2">

        {% with 'Archivář Admin' as list_archivar %}
        {% if userDetail.role_opravneni.role in list_archivar %}
        {% if canArchive  %}
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <button type="button" class="btn btn-amcr btn-block" data-toggle="modal" data-target="#archive_detector">
                {% trans "Archivovat" %}
            </button>
        </div>
        {% else %}
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <button class="btn btn-amcr btn-block disabled" readonly="true">
                {% trans "Archivovat" %}
            </button>
        </div>
        {% endif %}
        {% endif %}
        {% endwith %}

        {% if ident_cely != '0' %}
        <div class="col-6 col-md-3 col-lg-2 btn-det-group">
            <a class="btn btn-amcr btn-block" href="{% url 'pas:detectors_history' ident_cely %}">
                {% trans "Historie nálezu" %}
            </a>
        </div>
        {% endif %}
    </div>
</div>
