{% load i18n %}
<button class="btn btn-secondary btn-block" href="javascript:void(0)">{% trans "Uložit změny" %}</button>
<hr class="separator">
<div>
    <button class="btn btn-secondary btn-block" href="javascript:void(0)" id="addScnt">{% trans "Připojit lokalitu" %}</button>
</div>
<div class="pt-2">
    <button class="btn btn-secondary btn-block" href="javascript:void(0)">{% trans "Přidat komponentu" %}</button>
</div>
<div class="pt-2">
    <button class="btn btn-secondary btn-block" href="javascript:void(0)">{% trans "Připojit akci" %}</button>
</div>