{% load i18n %}
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
<!--Table-->
<table id="history_table" data-locale="{{ LANGUAGE_CODE }}" data-toggle="table" data-toolbar="#toolbar" data-pagination="true" data-pagination-pre-text="{% trans "Předchozí" %}" data-show-pagination-switch="true" data-search="true"
    data-pagination-next-text="{% trans "Další" %}" data-show-jump-to="true" data-show-columns="true" data-show-toggle="true" data-show-export="true" data-mobile-responsive="true" data-buttons-class="amcr btn-xs"
    class="table table-hover table-borderless">
    <!--Table head-->
    <thead scope="col" class="col-documents col-detectors-head">
        <tr>
            <th data-field="datum_zmeny" data-sortable="true">{% trans "Datum změny" %}</th>
            <th data-field="typ_zmeny" data-sortable="true">{% trans "Typ změny" %}</th>
            <th data-field="uzivatel" data-sortable="true">{% trans "Uživatel" %}</th>
            <th data-field="ident" data-sortable="true">{% trans "Identifikátor" %}</th>
            <th data-field="organizace" data-sortable="true">{% trans "Organizace" %}</th>
            <th data-field="duvod" data-sortable="true">{% trans "Komentář" %}</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        {% for s in historie %}
        <tr>
            <td>{{s.datum_zmeny|timezone:"Europe/Prague"|date:'Y-m-d H:i' }}</td>
            <td>{{s.get_typ_zmeny_display}}</td>
            <td>{{ s.uzivatel.prijmeni }}, {{s.uzivatel.jmeno}}</td>
            <td>{{ s.uzivatel.ident_cely }}</td>
            <td>{{ s.uzivatel.organizace.nazev_zkraceny }}</td>
            <td>{{s.duvod}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <!--Table body-->
</table>
