{% load i18n %}
{% load amcr_tags %}
<table id="documents_table" data-locale="cs-CZ" data-min-width="560" data-toggle="table" data-toolbar="#toolbar"
    data-pagination="true" data-show-pagination-switch="true" data-pagination-pre-text="Předchozí" data-pagination-next-text="Další"
    data-show-columns="true" data-show-toggle="true" data-show-export="true" data-page-size="100" data-pagination-loop="false"
    data-mobile-responsive="true" data-show-jump-to="true" data-search="true" data-buttons-class="amcr-3d btn-xs"
    class="table table-hover table-borderless table-amcr">
    <!--Table head-->
    <!--Table head-->
    <thead scope="col" class="col-documents col-documents-head">
        <tr>
            <th data-field="detail" data-width="50" data-halign="center" data-align="center">
                <i class="ti-new-window d-none d-sm-inline"></i>
                <span class="d-inline d-sm-none">{% trans "Detail modelu" %}</span>
            </th>
            <th data-field="historie" data-width="50" data-halign="center" data-align="center">
                <i class="ti-timer d-none d-sm-inline"></i>
                <span class="d-inline d-sm-none">{% trans "Historie modelu" %}</span>
            </th>
            <th data-field="ident_cely" data-sortable="true">{% trans "ID" %}</th>
            <th data-field="stav" data-sortable="true">{% trans "Stav" %}</th>
            <th data-field="typ_dokumentu" data-sortable="true">{% trans "Typ dokumentu" %}</th>
            <th data-field="organizace_autora" data-sortable="true">{% trans "Organizace autora" %}</th>
            <th data-field="autor" data-sortable="true">{% trans "Autor" %}</th>
            <th data-field="rok_vzniku" data-sortable="true">{% trans "Rok vzniku" %}</th>
            <th data-field="zeme" data-sortable="true">{% trans "Zeme" %}</th>
            <th data-field="region" data-sortable="true">{% trans "Region" %}</th>
            <th data-field="odkaz" data-sortable="true">{% trans "Odkaz" %}</th>
            <th data-field="duveryhodnost" data-sortable="true">{% trans "Důvěryhodnost" %}</th>
            <th data-field="datum_vlozeni" data-sortable="true">{% trans "Datum vložení" %}</th>
            <th data-field="datum_archivace" data-sortable="true">{% trans "Datum Archivace" %}</th>

        </tr>
    </thead>
    <tbody>
        {% for row in context.table %}
        <tr>
            <td>
                <a class="icon-container" href="{% url 'documents:create' %}{{row.ident_cely}}" data-toggle="tooltip"
                    data-placement="right" title="{% trans "Detail modelu" %} {{row.ident_cely}}">
                    <i class="ti-new-window"></i>
                </a>
            </td>
            <td>
                <a class="icon-container" href="{% url 'documents:documents_history' row.ident_cely %}" data-toggle="tooltip" data-placement="left" title="{% trans "Historie modelu" %} {{row.ident_cely}}">
                    <i class="ti-timer"></i>
                </a>
            </td>
            <td scope="row">{{row.ident_cely}}</td>
            <td>{{context.doc_states|get_item:row.stav}}</td>
            <td>{{row.typ_dokumentu.nazev}}</td>
            <td>{{context.org_dict|get_item:row.organizace}}</td>
            <td>{{row.autor}}</td>
            <td>{{row.rok_vzniku}}</td>
            <td>{{row.extradata.zeme.nazev}}</td>
            <td>{{row.extradata.region|default_if_none:"" }}</td>
            <td>{{row.extradata.odkaz|default_if_none:""}}</td>
            <td>{{row.extradata.duveryhodnost}} %</td>
            <td>{{row.datum_vlozeni|epoch_timestamp_to_datetime}}</td>
            <td>{{row.datum_archivace|epoch_timestamp_to_datetime}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
