{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<script src="{% static "/js/bootstrap-table-mobile.min.js" %}"></script>
{% endblock %}
{% block content %}
<script>
    $('.menu_detectors').addClass('active')
    $('.menu_cooperate_det').addClass('active')
</script>
<!-- page title area start -->
<div class="page-title-area title-det mb-4">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title d-block d-sm-block d-md-block d-lg-none">{{MODUL_DETECTOR}}</h4>
                <h4 class="page-title pull-left d-none d-lg-block">{{MODUL_DETECTOR}}</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/" class="main-modul-det">{{MAIN_MENU}}</a></li>
                </ul>
                <ul class="breadcrumbs pull-left" id="breadcrumbs_index">
                    <li><a href="/pas/" class="main-modul-det">{{MODUL_DETECTOR}}</a></li>
                </ul>
                <ul class="breadcrumbs pull-left" id="breadcrumbs_index">
                    <li><a href="/pas/cooperate/" class="main-modul-det">{{COOP_DETECTOR}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content-inner mr-2 ml-2 mb-2">
    <div class="card">
        <div class="card-body">
            <div class="coop-table table-det">
                <div id="toolbar" class="pagewrap">
                    <!-- Top pagination detail -->
                    <a href="{% url 'pas:cooparate_create' %}" class="btn btn-amcr btn-xs"><i class="pr-2 ti-user"></i>{% trans "Nová žádost o spolupráci" %}</a>
                </div>
                {% include "components/spoluprace_table.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        })
    </script>
{% endblock %}