{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<script>
    $('.menu_detectors').addClass('active')
    $('.menu_cooperate_det').addClass('active')
</script>
<div class="page-title-area title-det mb-5">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title d-block d-sm-block d-md-block d-lg-none">{{MODUL_DETECTOR}}</h4>
                <h4 class="page-title pull-left d-none d-lg-block">{{MODUL_DETECTOR}}</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/" class="main-modul-det">{{MAIN_MENU}}</a></li>
                </ul>
                <ul class="breadcrumbs pull-left" id="breadcrumbs_index">
                    <li><a href="/pas/" class="main-modul-det">{{MODUL_DETECTOR}}</a></li>
                </ul>
                <ul class="breadcrumbs pull-left" id="breadcrumbs_index">
                    <li><a href="/pas/cooperate/" class="main-modul-det">{{COOP_DETECTOR}}</a></li>
                </ul>
                <ul class="breadcrumbs pull-left" id="breadcrumbs_index">
                    <li><a class="main-modul-det">{% trans "Editace" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner mr-5 mb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        {% if context.nepotvrzeno %}
        <p class="h2 font-weight-light card-heading ml-0">{% trans "Potvrzení spolupráce" %}</p>
        {% else %}
        <p class="h2 font-weight-light card-heading ml-0">{% trans "Aktivace/Deaktivace spolupráce" %}</p>
        {% endif %}
        <div class="card create-card ml-0">
            <div class="card-body">
                <!-- First col -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <form method="post">
                            {% csrf_token %}
                            {% if context.nepotvrzeno %}
                            <div class="form-check" hidden>
                                {% render_field form.aktivni class="form-check-input" id="aktivni" %}
                                <label for="aktivni">{{ form.aktivni.label }}</label>
                            </div>
                            <div class="form-check" hidden>
                                {% render_field form.potvrzeno class="form-check-input" id="Potvrzeno" checked="true" %}
                                <label for="Potvrzeno">{{ form.potvrzeno.label }}</label>
                            </div>
                            <p class="coop-confirm-msg">Badatel {{ context.badatel_name }} žádá o potvrzení spolupráce s
                                archeologem {{ context.archeolog_name }}.</p>
                            {% else %}
                            <p class="coop-confirm-msg">Spolupráce badatele {{ context.badatel_name }} a archeologa
                                {{ context.archeolog_name }}.</p>
                            <br>
                            {% with 'Archeolog Archivář Admin' as list_archeolog %}
                            <!-- Badatel nemuze aktivovat spolupraci -->
                            {% if userDetail.role_opravneni.role in list_archeolog or context.aktivni_spoluprace%}
                            <div class="form-check">
                                {% render_field form.aktivni class="form-check-input" id="aktivni" %}
                                <label for="aktivni">{{ form.aktivni.label }}</label>
                            </div>
                            {% else %}
                            <div class="form-check">
                                {% render_field form.aktivni disabled=True class="form-check-input" id="aktivni" %}
                                <label for="aktivni">{{ form.aktivni.label }}</label>
                            </div>
                            {% endif %}
                            {% endwith %}
                            <div class="form-check" hidden>
                                {% render_field form.potvrzeno class="form-check-input" id="Potvrzeno" %}
                                <label for="Potvrzeno">{{ form.potvrzeno.label }}</label>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-3">
        {% if context.nepotvrzeno %}
        {% with 'Archeolog Archivář Admin' as list_archeolog %}
        {% if userDetail.role_opravneni.role in list_archeolog %}
        <input type="button" class="btn btn-amcr col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3" data-toggle="modal"
            data-target="#confirm_coop" value="{% trans "Potvrdit" %}">
        {% else %}
        <input type="submit" data-toggle="tooltip" title="Spolupráci může potvrdit pouze archeolog a archivář."
            data-placement="bottom" class="btn btn-amcr col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3" disabled
            value="{% trans "Potvrdit" %}">
        {% endif %}
        {% endwith %}
        {% else %}
        {% with 'Archeolog Archivář Admin' as list_archeolog %}
        {% if userDetail.role_opravneni.role in list_archeolog or context.aktivni_spoluprace %}
        <input type="submit" class="btn btn-amcr col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3" value="{% trans "Uložit" %}">
        {% else %}
        <input type="submit" title="Spolupráci může aktivovat pouze archeolog a archivář."
            class="btn btn-amcr col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3" disabled value="{% trans "Uložit" %}">
        {% endif %}
        {% endwith %}
        {% endif %}
        <!-- MODAL POTVRDIT SPOLUPRACI -->
        <div class="modal fade" id="confirm_coop" tabindex="-1" role="dialog" aria-labelledby="confirmCoopTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmCoopTitle">{% trans "Potvrzení spolupráce" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{% trans "Opravdu chcete potvrdit tuto spolupráci?" %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-amcr btn-block" data-dismiss="modal">{% trans "Ne" %}</button>
                        <button type="submit" class="btn btn-amcr btn-block" value="Potvridt">{% trans "Ano" %}</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- END OF MODAL POTVRDIT SPOLUPRACI-->
{% endblock %}
