Click==7.0
dataclasses==0.7
dj-database-url==0.5.0
Django==2.2.27
django-crispy-forms==1.8.0
django-redis-cache==2.1.0
django-rq==2.3.0
django-widget-tweaks==1.4.5
gunicorn==20.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
redis==3.4.1
rq==1.2.2
Shapely==1.7.0
six==1.14.0
sqlparse==0.3.0
django-debug-toolbar==3.1.1
django-debug-toolbar-template-profiler==2.0.2
